input[type="text"] {
    margin: 15px;
    width: 97%;
    height: 30px;
    padding: 15px;
    border-radius:3px;
    font-size: 20px;
    border-style: solid;
    border-color: #bcbcbc;
    border-width: 1px;
}

input[type="text"]:focus {
    outline:none;
}

input[type="submit"] {
    display: none;
}

.search-icon path {
  fill: white;
  transform:scale(0.8);
}

.search-icon {
    background-color: #23995c;
    height: 60px;
    border-radius: 3px;
    border: solid #23995c 1px;
    margin: 15px;
    cursor: pointer;
    box-shadow: 0 2px 1px -1px #888888;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}